<div class="formbg">
  <div class="info">
    <a routerLink="/info"> <img id="appicon" src="../../assets/images/notes.png" alt=" no img."></a>
    <!-- <a routerLink="/login"><h1 >Task Zen</h1></a> -->
    <a routerLink="/login"><h1 >Todo App</h1></a>
  </div>
  <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()" id="formm">
    <div style="display: flex; margin-left: 230px;">
  <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title class="title">Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="col">
          <div class="row">
            <mat-form-field class="full-width">
              <mat-icon matPrefix  class="my-icon">email</mat-icon>
              <input matInput placeholder="Enter Email Id" formControlName="emailId" type="email" />
              <mat-error *ngIf="loginForm.controls['emailId'].hasError('required')">
                <strong>Email Id is Required</strong>
              </mat-error>
              <mat-error *ngIf="loginForm.controls['emailId'].hasError('email')">
                <strong> Please Enter Valid Mail ID</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="full-width">
              <mat-icon matPrefix class="my-icon">password</mat-icon>
              <input matInput placeholder="Enter Password" formControlName="password" type="password" />
              <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                <strong>Password is Required</strong>
              </mat-error>
              <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">
                <strong> Password length should be 8</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions id="bottom">
        <button class="button" mat-raised-button type="submit" [disabled]="loginForm.invalid">
          Submit
        </button>
        <span class="noacc">Don't have an account ?<a id="register" routerLink="/register"> Register </a></span>
      </mat-card-actions>
    </mat-card> 
    
    <img class="frontImg"src="../../assets/images/frontImg.jpg" alt="not found">
  </div>
  </form>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<footer>
  <div class="container">
    <div class="social-media">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="copyright">
      &copy; 2023 NIIT. All rights reserved.
    </div>
  </div>
</footer>