<div class="mainDiv">
    <h1>
        To-Do
    </h1>
    <hr>
    <div>
        <h2>What is TO DO ?</h2>
        <p>To-do lists are how an individual keeps tasks that need to be completed organized. Learn more about the types
            of to-do lists that can be used and the benefits of utilizing
            a list to stay motivated and productive.</p>
        <hr>
        <h2>Benefits of to-do lists</h2>
        <p>When done correctly, there are many benefits one may experience when creating a to-do list. Some of these
            benefits are: <br>

            <b><i>Sharpen memory: </i></b> A to-do list can act as an external memory aid since it’s only possible to
            hold a few pieces of information at once. Keeping a to-do list up-to-date makes it easy to keep track of
            every task. This list also can reinforce the information in case something is forgotten. <br>
            <b><i> Increase productivity: </i></b> Making a to-do list can prioritize the most important tasks and need
            to be completed first. This prevents wasting time on tasks that don’t require immediate attention. <br>
            <b><i> Boost motivation:</i></b> A to-do list can be used as a motivational tool because it helps to clarify
            and break down long-term goals into smaller, more achievable short-term goals. Additionally, as someone
            crosses items off a to-do list, they’re likely to experience a boost in confidence, too. <br>
            <b><i> Improve time management:</i></b> Since tasks on a to-do list should be organized by importance,
            understanding which projects or items need to be worked on first can improve time management. <br>
            <b><i>Better measure progres :</i></b> If a to-do list is extensive and filled with a wide variety of tasks,
            visualizing which items are complete and which need work can help measure progress and how close someone is
            to accomplishing a specific goal.
        </p>
    </div>
    <a routerLink="" style="margin-left: 550px;"><button mat-raised-button color="warn" type="button">BACK TO LOGIN</button></a>

</div>