<mat-card class="mt2" >
  <mat-card-header>
    <mat-card-subtitle class="subtitle">
      {{ card.title }}
    </mat-card-subtitle>
    <mat-card-title class="title">
      Created On :- {{ card.createdDateTime }} | Priority :-
      {{ card.priority }}
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <div>
    <mat-card-content>
      <p class="truncate">{{ card.description }}</p>
    </mat-card-content>
  </div>

  <mat-divider></mat-divider>

  <mat-card-actions class="button">
    <button
      mat-button
      matTooltip="Important"
      class="menu-button"
      (click)="updateToDoAsImportantTask(card)"
      color="accent"
    >
      <mat-icon>add_task</mat-icon>
    </button>
    <button
      mat-button
      matTooltip="Edit"
      class="menu-button"
      color="primary"
      routerLink="/home/addToDo/{{ card.title }}"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-button
      matTooltip="Task Done"
      class="menu-button"
      color="warn"
      (click)="updateTaskAsCompletedTask(card)"
    >
      <mat-icon>done_all</mat-icon>
    </button>
    <button
      mat-button
      matTooltip="Archive"
      class="menu-button"
      color="primary"
      (click)="updateTaskArchiveStatus(card)"
    >
      <mat-icon>archive</mat-icon>
    </button>
    <button
      mat-button
      matTooltip="Delete"
      class="menu-button"
      color="warn"
      (click)="deleteTaskById(card.title)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>