.example-header-image {
  background-image: url('../../assets/images/alert.png');
  background-size: cover;
}

.card{
  margin-bottom: 20px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 2px solid blue;
  background-color: transparent;
}
.details{
  margin-top: 10px;
  font-size: small;
  font-weight: bold;
  display: inline-flex;
}
.details1{
  font-size: small;
  font-weight: bold;
  display: inline-flex;
}
h1{
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
}
header{
  height: 600px;
}
p{
  
  font-size: larger;
}
.clearfix {
  position:relative;
  right: 35%;
  left: 35%;
  font-size: 25px;
  
}

h6{
  color: #E4D00A;
}